/.idea/google-java-format.xml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.4/checksums/checksums.lock
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.4/executionHistory/executionHistory.bin
/.gradle/7.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/7.4/fileHashes/fileHashes.bin
/.gradle/7.4/fileHashes/fileHashes.lock
/.gradle/7.4/dependencies-accessors/gc.properties
/.gradle/7.4/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/palantir-java-format.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/misc.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/jarRepositories.xml
/.gradle/7.4/fileChanges/last-build.bin
